body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: white;
}

.hero {
    background-color: #0A0A0A;
    text-align: center;
    padding: 55px 20px;

    * {
        
        line-height: 1.6;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .ctaButton {
        background-color: #33ef33;
        font-weight: bold;
        color: #000000;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: .2s;
        
        &:hover {
            scale: 2;
        }
    }
}

.planos {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;

    .plano {
        background-color: #0A0A0A;
        padding: 30px;
        border-radius: 8px;
        width: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: 1.7em;
        }

        .preco {
            font-size: 1.4em;
            margin-bottom: 20px;
            font-weight: bold;
            color: #33ef33;
        }

        ul {
            list-style: inside;
            padding: 0;
            margin-bottom: 20px;

            li {
                margin-bottom: 10px;
                font-size: .9em;
            }
        }

        .btn_plano_assinatura {
            background-color: #33ef33;
            color: #000000;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            display: inline-block;
            transition: .2s;
            width: 100%;
            text-align: center;

            &:hover {
                scale: 1.05;
            }
        }

        &.destaque {
            background-color: #191919;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.276);
            scale: 1.1;

            .btn_plano_assinatura {
                background-color: #00ff00;
            }
        }
    }
}

.diferenciais {
    background-color: #0A0A0A;
    padding: 60px 20px;
    text-align: center;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
    }
}

.testemunhos {
    background-color: #0A0A0A;
    padding: 50px 20px 60px 20px;
    text-align: center;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1em;
        font-style: italic;
        margin-bottom: 20px;
    }
}

footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 794px) {
    body {
        font-size: 14px;
    }

    .planos {
        flex-direction: column;
        align-items: center;
    }

    .plano {
        width: 99%;
    }

    .plano.destaque {
        scale: 1.05;
    }

    .diferenciais {
        padding: 40px 20px;
    }

    .testemunhos {
        padding: 40px 20px;
    }
}
