* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: white;
}




.container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent, rgba(22, 22, 22, 0.432));
    min-height: 100vh;
    max-height: 800px;
     
    * {
        font-weight: bold;
    }

    #videoBackground {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1;
    }
        
    header {
        display: flex;
        justify-content: space-between;

        & .logo {
            font-size: 1.5em;
            padding: 20px 40px;
        }

        & #select_indioma {
            font-size: 1em;
            background-color: transparent;
            background-color: rgb(0, 0, 0);
                
            padding: 0px 20px;
            border: solid 1px rgba(255, 255, 255, 0.162);
            border-radius: 5px;
            margin: 20px 40px 0px 0px;
            height: 30px;
        }
    }


        
    main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row-reverse;;
        padding: 0px 30px;
        /* min-height: 500px; */
        max-width: 1300px;
        width: 100%;
        margin: auto;
        

        & .esquerda {
            font-size: 12px;

            & .opcoes_de_login {
                background-color: transparent;
                cursor: pointer;
                padding: 10px 15px;
                border: solid 2px rgb(255, 255, 255);
                border-radius: 7px;
                margin: 10px 6px 0px 0px;
                transition: .3s;

                &:hover {
                    scale: 1.07;
                    background-color: rgb(28, 28, 28);
                    border-radius: 3px;
                }
            }


            & label {
                font-size: 1.2em;
                display: block;
                padding: 17px 0px 8px 0px;
            }
            & input {
                background-color: transparent;
                padding: 10px;
                border: solid 2px rgb(255, 255, 255);
                border-radius: 7px;
                width: 100%;
            }

            & .submit {
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
                color: black;
                font-size: 1.3em;
                background-color: #4CE64C;
                margin-top: 20px;
                padding: 10px 30px;
                border: solid;
                border-radius: 10px;
                transition: .2s;

                &:hover {
                    scale: 1.05;
                }
            }
        }

        & .direita {
            h1 {
                padding: 0px 30px;
                max-width: 500px;
                font-size: 2.1em;
                color: rgb(94, 255, 0);
            }
            h3 {
                padding: 10px 30px;
                max-width: 500px;
                font-size: 1.3em;
            }
        }
    }

}








@media screen and (max-width: 870px) {
    .container {
        main {
            & .direita {
                & iframe {
                    max-width: 300px;
                    max-height: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .container {
        main {
            flex-direction: column-reverse;
            padding: 30px 0px;
    
    
            & .esquerda {
                padding: 50px 0px;
                height: 9;
            }

        }
    }
}



.passoApasso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 50px 20px;
    max-width: 1100px;
    margin: auto;

    & .passos {
        border: solid 1px rgba(255, 255, 255, 0.055);
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.123);
        background-color: rgb(25, 25, 25);
        padding: 10px;
        /* border-radius: 40px 5px 5px 5px; */
        border-radius: 50px;


        & .dic {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            position: relative;

            & .circle {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(72, 255, 0);
                color: black;
                font-size: 1.2em;
                font-weight: bold;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            & .ImgPassos {
                max-width: 150px;
                padding-bottom: 20px;
            }
        }

        & .descritionPasso {
            font-size: 16px;
            width: 250px;
        }
    }

    & .linha {
        width: 15%;
        border: solid 1px white;
    }
}

@media screen and (max-width: 900px) {
    .passoApasso {
        flex-direction: column;
        padding: 50px 20px;
        text-align: center;
        gap: 20px;
 
        & .passos {
            display: flex;
            align-items: center;
            /* & .dic {
                flex-direction: column;
            } */

            & .ImgPassos {
                padding: 20px 5px 20px 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .passoApasso {

        & .passos {
            /* display: flex; */
            flex-direction: column;
            align-items: center;
            /* & .dic {
                flex-direction: column;
            } */

            & .ImgPassos {
                max-width: 200px;
                padding: 10px 5px 10px 10px;
            }
        }
    }
}