
// Estilos para o corpo da página
// body {
//     background-color: #0A0A0A;
//     background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/696278-texturizado-fundo-preto-gratis-vetor.jpg') center center no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
// }

// Estilos para o container principal
.container {
    background-color: rgba(255, 255, 255, 0.040);
    border: solid 1px white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 2px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    margin: 40px 20px;
}

// Estilos para o título (h2)
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}

// Grupo de inputs
.input-group {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 8px;
        color: #ffffff;
    }

    input {
        font-size: .9em;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 5px;

        &:focus {
            outline: none;
            border-color: #33ef33;
        }
    }
}

// Estilos para o botão
button {
    margin-top: 10px;
    width: 100%;
    padding: 14px;
    background-color: #33ef33;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #28d428;
    }
}

// Indicador de progresso
.progress-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #33ef33;

    .step {
        font-size: 1.2em;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: #0A0A0A;
        border: 2px solid #33ef33;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            background-color: #33ef33;
            color: #000;
        }
    }

    .divider {
        font-size: 1.5em;
        margin: 0 10px;
    }
}
